
<div class="container-fluid pt-5">
    <div class="row">
        <div class="col-md-3">
            <ul style="list-style:none;">
                <li class="nav-item" style="float:none !important;"><a class="nav-link" routerLink="home" routerLinkActive="active">Home</a></li>
                <li class="nav-item" style="float:none !important;"><a class="nav-link" routerLink="emp_task" routerLinkActive="active">Task Sheet</a></li>
            </ul>
        </div>
        <div class="col-md-8">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
